.dashboard {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.main {
  height: 300px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background image */
  box-shadow: 1px 5px 25px 3px #444;
  color: white;
  overflow: hidden;
  background: url("../assets/back.png") no-repeat center/cover;
}

.mainLeft__title {
  font-size: 5rem;
}

.mainLeft__p {
  font-size: 2rem;
  font-weight: 200;
}

.left,
.right {
  margin-top: auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.main__right {
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 10px;
}

.right__time {
  font-size: 2rem;
}

.right__p {
  font-size: 2rem;
}
